name: tags test

on:
  push:

jobs:
  testyasd:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          ref: main
          fetch-tags: true
  
      - name: asdasd
        run: echo "asd a"; git tag; echo "asd b"
